# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:10.9
      
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/examples

    steps:
      - checkout
      - setup_remote_docker:
          version: 17.10.0-ce
      - run: make BROWSER_HYDRA_HOST=hydra BROWSER_CONSUMER_HOST=consumer.localhost BROWSER_IDP_HOST=identity-provider BROWSER_OATHKEEPER_PROXY_HOST=oathkeeper-proxy start-full-stack
      - run: docker build -t cypress-runner -f cypress/Dockerfile .
      - run: docker run --rm -it --network full-stack_intranet cypress-runner npm run wait http-get://hydra:4445/health/ready
      - run: docker run --rm -it --network full-stack_intranet cypress-runner npm run wait http-get://oathkeeper-api:4456/health/ready
      - run: docker run --rm -it --network full-stack_intranet cypress-runner npm run wait http-get://keto:4466/health/ready
      - run: docker run --rm -it --network full-stack_intranet cypress-runner npm run wait http-get://consumer.localhost:4477/
      - run: sleep 15
      - run: docker run -e CYPRESS_OATHKEEPER_API_HOST=oathkeeper-api -e CYPRESS_KETO_HOST=keto -e CYPRESS_CONSUMER_HOST=consumer.localhost -e CYPRESS_HYDRA_ADMIN_HOST=hydra -it --network full-stack_intranet cypress-runner npm run test:full-stack
